.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background-color: #FAC234;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

@media only screen and (max-width: 900px){
    
  
    img {
        width: 30vw;
        height: 30vh;
        margin-right: 2.5rem
        
    }

};

    
